.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #333; */
    padding: 15px 20px;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.navlinks {
    list-style: none;
    display: flex;
}

.activeLink {
    /* font-size: 100px; */
    font-weight:900;
    color: #f4a261; 
  }

.navlinks li {
    margin: 0 15px;
}

.navlinks a {
    text-decoration: none;
    /* color: rgb(77, 3, 3); */
    font-size: 18px;
    transition: 0.3s;
}

.navlinks a:hover {
    color: #f4a261;
}

.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .navlinks {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background: #333;
        width: 100%;
        text-align: center;
        padding: 15px 0;
    }

    .navlinks.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}